body {
  background-color: #f0f0f5 !important;
  color: #e1e1f6;
}

/* Hide input arrows when its type is 'number' */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}
